<head>
<style>
td, th {
	padding:5px;
}
table {
    /*font-size:11px;*/
}

th {
	color:white;
	background-color: #888888;
}

.gray {
	color:gray;
}

.pull-right {
	float:right;
}



</style>

</head>

<body style="font-family:HPSimplified">

	<p>Attached is your collaborator report for review.  The report includes a list of all sheets that are being shared with
	Non-HP employees. Please remember to remove permission for those who no longer need access to your sheets.</p>

	<div>
		<img style="float:right" height="50px" width="50px" alt="hp.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/100px-HP_logo_2012.svg.png" width="100" height="100" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/150px-HP_logo_2012.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/200px-HP_logo_2012.svg.png 2x">
		<h3>{{firstname}} {{lastname}}</h3>
	</div>
	<br><br>
	<table border="1" style="border-collapse: collapse;">
		<tr>
			<td></td>
			{% for header in headers_in_email %}
				<th>{{header}}</th>
			{% endfor %}
		</tr>
		{% for row in rows %}
			<tr>
				<td class="gray">{{loop.index}}</td>
				{% for header in headers_in_email %}
					<td>{{row[header]}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	{# <p>Please let <a href="mailto:{{smartsheet_manager}}?Subject=Smartsheet%20security&Body=Please%20discontinue%20sharing%20on%20the%20Smartsheet%20named: [put%20sheet%20name%20here]">Terrence Gaines</a> know if sharing should be discontinued on any of these sheets. </p> #}


</body>